body {
    margin: 0;
    padding: 0;
    background-image: url(images/背景图.jpg);
}


/* 头部区 */
.header {
    margin-left: 285px;
    width: 740px;
    height: 520px;
    /* margin: 0 auto; */
}



/* 参数输入区 */
.param {
    margin-top: 170px;
    padding-top: 25px;
    float: left;
    width: 180px;
    height: 165px;
    background-color: rgb(123, 238, 77);
    border-radius: 16px 0 0 10px;
}
.param .text {
    text-align: center;
}
.param input {
    margin-left: 4px;
}
.param button {
    margin: 15px 0 0 68px;
}




/* 展示题目区 */
.show {
    float: right;
    width: 280px;
    height: 520px;
}
/* 标题 */
.title1 {
    border-radius: 16px 0 0 0;
    padding-top: 13px;
    height: 50px;
    background-color: rgb(189, 67, 226);
    text-align: center;
    color: white;
    font: bold 24px "微软雅黑" ;
}
/* 空白展示区域 */
.show #airthmeticString {
    width: 280px;
    height: 457px;
    background-color: #fff;
    overflow: scroll;
}




/* 展示答案区 */
.answer {
    float: right;
    width: 280px;
    height: 520px;
}

/* 标题 */
.answer .title2 {
    border-radius:0 16px 0 0;
    padding-top: 13px;
    height: 50px;
    background-color: rgb(238, 241, 34);
    text-align: center;
    color: white;
    font: bold 24px "微软雅黑" ;
}

/* 空白展示区域 */
.answer #answerString {
    width: 280px;
    height: 457px;
    background-color: #fff;
    overflow: scroll;
}






.check {
    margin-left: 285px;
    width: 740px;
    /* background-color: rgb(209, 96, 96); */
    border-radius: 0 0 16px 16px ;
}


/* 答案文本地址输入区 */
.check .url {
    padding-top: 20px;
    float: left;
    width: 180px;
    height: 130px;
    background-color: rgb(123, 238, 77);
    border-radius: 16px 0 0 16px;
}
.check .url .text {
    text-align: center;
    width: 100%;
    height: 80px;
}
.check .url input {
    margin-left: 4px;
}
.check .url button {
    margin: 15px 0 0 68px;
}



/* 结果展示区 */
.check .result {
    float: right;
}
/* 标题 */
.check .result .title3 {
    padding-top: 14px;
    width: 560px;
    height: 50px;
    background-color: rgb(22, 163, 133);
    font: bold 24px "微软雅黑";
    color: white;
    text-align: center;
}
/* 空白展示区域 */
.check #resultString {
    overflow: scroll;
    width: 560px;
    height: 206px;
    background-color: #fff; 
}